xsds/domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://gridnine.com/elsa/meta-domain"
        elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://gridnine.com/elsa/meta-domain">
	<element name="domain">
		<complexType>
			<choice maxOccurs="unbounded" minOccurs="0">
				<element name="document">
					<complexType>
						<complexContent>
							<extension base="tns:ElementWithId">
								<sequence>
									<choice maxOccurs="unbounded" minOccurs="0">
										<element name="parameter" type="tns:ParameterType"/>
									</choice>
									<choice maxOccurs="unbounded" minOccurs="0">
										<element name="string-property" type="tns:entity-tag-string-property"/>
										<element name="local-date-time-property" type="tns:entity-tag-local-date-time-property"/>
										<element name="local-date-property" type="tns:entity-tag-local-date-property"/>
										<element name="boolean-property" type="tns:entity-tag-boolean-property"/>
										<element name="big-decimal-property" type="tns:entity-tag-big-decimal-property"/>
										<element name="byte-array-property" type="tns:entity-tag-byte-array-property"/>
										<element name="entity-reference-property" type="tns:entity-tag-entity-reference-property"/>
										<element name="entity-property" type="tns:entity-tag-entity-property"/>
										<element name="entity-list" type="tns:entity-tag-entity-list"/>
										<element name="enum-list" type="tns:entity-tag-enum-list"/>
										<element name="string-list" type="tns:entity-tag-string-list"/>
										<element name="entity-map" type="tns:entity-tag-entity-map"/>
									</choice>
									<choice>
										<element name="caption-expression" type="string"/>
										<element name="localizable-caption-expression" type="string"/>
									</choice>
								</sequence>
								<attribute name="abstract" type="boolean" default="false"/>
								<attribute name="extends" type="string"/>
								<attribute name="cache-resolve" type="boolean" default="false"/>
								<attribute name="cache-caption" type="boolean" default="false"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="entity">
					<complexType>
						<complexContent>
							<extension base="tns:ElementWithId">
								<sequence>
									<choice maxOccurs="unbounded" minOccurs="0">
										<element name="parameter" type="tns:ParameterType"/>
									</choice>
									<choice maxOccurs="unbounded" minOccurs="0">
										<element name="string-property" type="tns:entity-tag-string-property"/>
										<element name="local-date-time-property" type="tns:entity-tag-local-date-time-property"/>
										<element name="local-date-property" type="tns:entity-tag-local-date-property"/>
										<element name="boolean-property" type="tns:entity-tag-boolean-property"/>
										<element name="big-decimal-property" type="tns:entity-tag-big-decimal-property"/>
										<element name="byte-array-property" type="tns:entity-tag-byte-array-property"/>
										<element name="entity-reference-property" type="tns:entity-tag-entity-reference-property"/>
										<element name="entity-property" type="tns:entity-tag-entity-property"/>
										<element name="entity-list" type="tns:entity-tag-entity-list"/>
										<element name="enum-list" type="tns:entity-tag-enum-list"/>
										<element name="string-list" type="tns:entity-tag-string-list"/>
										<element name="entity-map" type="tns:entity-tag-entity-map"/>
									</choice>
								</sequence>
								<attribute name="abstract" type="boolean" default="false"/>
								<attribute name="extends" type="string"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="enum">
					<complexType>
						<complexContent>
							<extension base="tns:IdWithParametersType">
								<sequence>
									<element name="enum-item" type="tns:IdWithParametersType" maxOccurs="unbounded" minOccurs="0"/>
								</sequence>
								<attribute name="abstract" type="boolean" default="false"/>
								<attribute name="extends" type="string"/>
								<attribute name="non-localizable" type="boolean" default="false"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="projection">
					<complexType>
						<complexContent>
							<extension base="tns:BaseProjectionType">
								<attribute name="document" type="string" use="required"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="asset">
					<complexType>
						<complexContent>
							<extension base="tns:BaseProjectionType">
								<sequence>
									<choice>
										<element name="caption-expression" type="string"/>
										<element name="localizable-caption-expression" type="string"/>
									</choice>
								</sequence>
								<attribute name="abstract" type="boolean" default="false"/>
								<attribute name="extends" type="string"/>
								<attribute name="cache-resolve" type="boolean" default="false"/>
								<attribute name="cache-caption" type="boolean" default="false"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
			</choice>
		</complexType>
	</element>
	<complexType name="IdWithParametersType">
		<complexContent>
			<extension base="tns:ElementWithId">
				<sequence minOccurs="0" maxOccurs="unbounded">
					<element name="parameter" type="tns:ParameterType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ParameterType">
		<attribute use="required" name="name" type="string"/>
		<attribute use="required" name="value" type="string"/>
	</complexType>
	<complexType name="ElementWithId">
		<attribute use="required" name="id" type="string"/>
	</complexType>
	<complexType name="BaseProjectionType">
		<complexContent>
			<extension base="tns:ElementWithId">
				<sequence>
					<choice maxOccurs="unbounded" minOccurs="0">
						<element name="parameter" type="tns:ParameterType"/>
					</choice>
					<choice maxOccurs="unbounded" minOccurs="0">
						<element name="string-property" type="tns:database-tag-string-property"/>
						<element name="local-date-time-property" type="tns:database-tag-local-date-time-property"/>
						<element name="local-date-property" type="tns:database-tag-local-date-property"/>
						<element name="boolean-property" type="tns:database-tag-boolean-property"/>
						<element name="big-decimal-property" type="tns:database-tag-big-decimal-property"/>
						<element name="byte-array-property" type="tns:database-tag-byte-array-property"/>
						<element name="entity-reference-property" type="tns:database-tag-entity-reference-property"/>
						<element name="enum-list" type="tns:database-tag-enum-list"/>
						<element name="string-list" type="tns:database-tag-string-list"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-string-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-local-date-time-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-local-date-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-boolean-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-big-decimal-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-byte-array-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-entity-reference-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="class-name" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-entity-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="class-name" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-entity-list">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="element-class-name" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-enum-list">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="element-class-name" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-string-list">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="entity-tag-entity-map">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="key-class-name" type="string"/>
				<attribute use="required" name="value-class-name" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-string-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="id" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-local-date-time-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-local-date-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-boolean-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="id" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-big-decimal-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-byte-array-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-entity-reference-property">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="element-class-name" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-enum-list">
		<complexContent>
			<extension base="tns:IdWithParametersType">
				<attribute use="required" name="element-class-name" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="database-tag-string-list">
		<complexContent>
			<extension base="tns:IdWithParametersType">
			</extension>
		</complexContent>
	</complexType>
</schema>